body{
  font-family: 'Dancing Script', cursive;
  background-color: black;
}
img{
  box-shadow: 2px 2px 2px #02010a;
}
header{
  background-color: #5b7989;
  border-radius: 2px 2px 0px 0px;
}
#titulo, #menu{
  margin: auto;
}
#titulo{
  color: white;
  text-shadow: 2px 2px 2px #02010a;
}
header nav a, header nav a:visited, header nav a:link{
  color: white;
}

.bloque1{
  background-color: #82c3a6;
}
.bloque1 div figure img{
  width: 70%;
  display: block;
  margin: auto;
}
.bloque2{
  background-color: #d5c75f;
}
.bloque2 div figure a img{
  border: 1px solid black;
  width: 70%;
  display: block;
  margin: auto;
}
#imagen2:hover{
  transform: rotate(10deg);
  box-shadow: 3px 3px 3px #82c3a6;
  border: 2px solid black;
}
#imagen3:hover{
  transform: translate(20px, -5px);
  box-shadow: 3px 3px 3px #82c3a6;
  border: 2px solid black;
}

footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
}

footer div ul li{
  list-style: none;
}
.logo{
  width: 15px;
  margin-left: auto;
}
#contenido{
  animation: efecto1 1s;
}
@-webkit-keyframes efecto1 {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

@media (max-width: 899px){
  header{
    display: flex;
    flex-direction: column;
    height: 80px;
  }
  .bloque1{
    display: flex;
    flex-direction: column;
  }
  .bloque2{
    display: flex;
    flex-direction: column;
  }
  footer{
    display: flex;
    flex-direction: column;
  }
  #contenido{
    margin: auto;
    width: 100%;
  }
  footer div{
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 1%;
  }
}

@media (min-width: 900px){
  header{
    display: flex;
    flex-direction: row;
    height: 75px;
  }
  .bloque1{
    display: flex;
    flex-direction: row;
  }
  .bloque2{
    display: flex;
    flex-direction: row;
  }
  footer{
    display: flex;
    flex-direction: row;
  }
  #contenido{
    margin: auto;
    width: 900px;
  }
  footer div{
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 4%;
  }
}
