body{
  font-family: 'Dancing Script', cursive;
  background-color: black;
}

header{
  background-color: #5b7989;
  border-radius: 2px 2px 0px 0px;
}
#titulo, #menu{
  margin: auto;
}
#titulo{
  color: white;
  text-shadow: 2px 2px 2px #02010a;
}
header nav a, header nav a:visited, header nav a:link{
  color: white;
}


footer{
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
}

footer div ul li{
  list-style: none;
}
.logo{
  width: 15px;
  margin-left: auto;
}
.galeria figure img{
  margin: auto;
  width: 100%;
}
#contenido{
  animation: efecto1 1s;
}
@-webkit-keyframes efecto1 {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

@media (max-width: 899px){
  header{
    display: flex;
    flex-direction: column;
    height: 80px;
  }

  section{
    display: flex;
    flex-direction:column;
  }
  .galeria{
    display: flex;
    flex-direction: column;
  }
  footer{
    display: flex;
    flex-direction: column;
  }

  footer div{
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 1%;
  }
}

@media (min-width: 900px){
  header{
    display: flex;
    flex-direction: row;
    height: 75px;
  }
  section{
    display: flex;
    flex-direction: row;
  }
  .galeria{
    display: flex;
    flex-direction: column;
  }

  footer{
    display: flex;
    flex-direction: row;
  }

  #contenido{
    margin: auto;
    width: 900px;
    display: flex;
    flex-direction: column;
  }
  footer div{
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 4%;
  }
}
